* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 0.7px;
}

:root {
    --main-bg: rgb(38, 70, 83);
    --main-theme-menu: #2a9d8f;
    --sub-theme-menu: #f4a261;
    --border-light-gray: rgb(56, 95, 110);
    --border-light-green: rgb(56, 95, 110);
}

body {
    background-color: rgb(29, 47, 54);
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.login {
    display: flex;
}

.login a {
    display: flex;
    align-items: center;
    background-color: var(--sub-theme-menu);
    justify-content: center;
    margin-top: -3px;
    width: 90px;
}

.login-btn {
    background-color: #2a9d8f !important;
}

header {
    height: 50px;
    background-color: rgb(38, 70, 83);
}

header a {
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.nav {
    height: 50px;
}

.nav ul {
    height: 100%;
}

.nav ul li {
    display: flex;
}

.nav ul li a {
    display: flex;
    align-items: center;
    margin-top: -3px;
    padding: 5px 10px;
    font-size: 14px;
    justify-content: center;
    background-color: var(--main-bg);
}

.nav ul li a:hover {
    background-color: rgba(30, 56, 66, 0.5);
    color: white;
    transition: 0.3s;
}

.d-flex {
    display: flex;
}

.under-header-line {
    height: 3px;
    background-color: #2a9d8f !important;
}

.sidebar-header {
    height: 15px;
    background-color: rgba(85, 125, 143, 0.5);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.sidebar-footer {
    height: 15px;
    background-color: rgba(85, 125, 143, 0.5);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sidebar {
    background-color: rgb(38, 70, 83);
    color: white;
}

.sidebar ul {
    flex-direction: column;
}

.sidebar ul li {
    display: block;
}

.sidebar ul li a {
    display: block;
    padding: 9px 7px;
    color: white;
    transition: color 0.2s;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid rgba(30, 56, 66, 0.8);
    border-top: 1px solid rgba(85, 125, 143, 0.5);
}

.sidebar ul li a > i {
    margin-right: 8px;
    margin-left: 2px;
}

.sidebar ul li:last-child a {
    border-bottom: 1px dashed rgba(85, 125, 143, 0.4);
}

.sidebar ul li:first-child a {
    border-top: 1px dashed rgba(85, 125, 143, 0.4);
}

.sidebar-active {
    background-color: var(--main-theme-menu);
    border-bottom: 1px solid var(--main-theme-menu) !important;
    font-weight: 700 !important;
}

.sidebar ul li a:hover {
    background-color: var(--main-theme-menu);
    border-bottom: 1px solid var(--main-theme-menu) !important;
    /* color: rgb(38, 70, 83); */
    font-weight: 400;
}

.article-image {
    width: 30%;
    display: flex;
}

.article-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-theme-menu);
}

.article {
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.article__container {
    display: flex;
    height: 100%;
    background-color: var(--main-bg);
    color: white;
}
